@model StackUndertow_MVC.Models.Question

@{
    ViewBag.Title = "Details";
    var orderedAnswers = Model.GetOrderedAnswers().ToList();
    var orderedUploads = Model.File.OrderByDescending(c => c.Created).ToList();
}

<h2>
    @Html.ActionLink((string)Model.QOwnerName + "'s",
    "Profile","User", new { id = Model.QOwnerId },new { }) Question</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="question-text">
                @Model.QText
            </h3>
        </div>
        <div class="col-lg-4">
            @if (Model.QOwnerId != ViewBag.UserId)
            {
                <span>
                    @Html.ActionLink("Submit an Answer", "Create", "Answer", new { Qid = Model.Id }, new { @class = "btn btn-primary" }) |
                </span>
            }
            <span>
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </span>

        </div>
    </div>
    @if (Model.File != null)
    {
        var currentImage = orderedUploads[0];

        <div class="row">
            <div class="col-md-8">
                <img class="thumb" src="@currentImage.FilePath" />
            </div>
        </div>
    }
    <hr />
    @if (!Model.FinalAnswer)
    {

        if (Model.Answers.Any())
        {
            var topAnswer = orderedAnswers.FirstOrDefault();
            var otherAnswers = orderedAnswers.Skip(1);

            <div class="question-answers">
                <div class="row">
                    <div class="top-answer">
                        <div class="col-lg-2">
                            <div class="row-label">
                                <p><h3 class="text-center">-Top Answer-</h3></p>
                                <p><h4 class="text-center">Submitted by </h4></p>
                                <p><h4 class="text-center">@Html.ActionLink((string)topAnswer.AOwnerName, "Profile", "User", new { id = topAnswer.AOwnerId }, new { })</h4></p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="row-badge">
                                <br/>
                                <span class="badge">@topAnswer.AScore</span>
                                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="...">
                                    
                                        @Html.ActionLink("UpVote",
                                                      "UpVote", "Answer",
                                                      new { AId = topAnswer.Id },
                                                      new { @class = "btn btn-success" })
                                    @Html.ActionLink("DownVote",
                                                      "DownVote", "Answer",
                                                      new { AId = topAnswer.Id },
                                                      new { @class = "btn btn-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row-body">
                                <br/>
                                <h3>@topAnswer.AText</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            if (otherAnswers != null)
            {
                foreach (var a in otherAnswers)
                {
                    <div class="question-answers">
                        <div class="row">
                            <div class="top-answer">
                                <div class="col-lg-2">
                                    <div class="row-label">
                                        <br/>
                                        <p><h4 class="text-center">Submitted by</h4></p>
                                        <p><h4 class="text-center">@Html.ActionLink((string)@a.AOwnerName, "Profile", "User", new { id = a.AOwnerId }, new { })</h4></p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="row-badge">
                                        <br />
                                        <span class="badge">@a.AScore</span>
                                        <div class="btn-group-vertical btn-group-sm" role="group" aria-label="...">

                                            @Html.ActionLink("UpVote",
                                                      "UpVote", "Answer",
                                                      new { AId = a.Id },
                                                      new { @class = "btn btn-success" })
                                            @Html.ActionLink("DownVote",
                                                      "DownVote", "Answer",
                                                      new { AId = a.Id },
                                                      new { @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row-body">
                                        <br/>
                                        <h3>@a.AText</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <h2>No Answers Yet! Click Above To Submit One!</h2>
        }
    }
</div>

