@model StackUndertow_MVC.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>-Questions-</h2>

<div class="container">
    <div>
        <p>
            <h3 class="post-title">
                @Model.QTitle
            </h3>
        </p>
        <p>
            <h5 class="post-title">
                @Model.QText
            </h5>
        </p>
        <p class="post-meta">
            Asked by @Html.RouteLink((string)Model.QOwnerName, new { Qid = Model.QOwnerId })
        </p>
        <p> @Html.ActionLink("Answer This Question", "Create", "Answer", new { Qid = Model.Id }, new { }) | @Html.ActionLink("Back to List", "Index") </p>
    </div>
</div>

