@model IEnumerable<StackUndertow_MVC.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>-Questions-</h2>

<div class="container">
            @foreach (var q in ViewBag.AllQuestions)
            {
                <div>
                    <p>
                        <h3 class="post-title">
                            @if (q.Answers.Count == 0)
                            {
                                <span><span class="badge badge-info">@q.Answers.Count</span></span>
                            }
                            else if(q.Answers.Count > 0)
                            {
                                <span><span class="badge badge-success">@q.Answers.Count</span></span>
                            }
                             | @Html.ActionLink((string)q.QTitle,"Details", new { QId = q.Id })
                        </h3>  
                    </p>
                    <p class="post-meta">Asked by @Html.ActionLink((string)q.QOwnerName,"Profile","User", new { Id = q.QOwnerId }, new { }) |
                    @Html.ActionLink("Answer This Question", "Create", "Answer", new { QId = q.Id }, new { })</p>
                </div>
                <hr/>

            }
</div>
